[rewrite_local]
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/(browse|guide|next|account\/get_setting) url script-response-body https://raw.githubusercontent.com/Wu2200/quanx/main/youtube.response.js

[mitm]
hostname = youtubei.googleapis.com
